@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font: 14px/1.5 'Kode Mono', sans-serif;
}

body, input, textarea, button, form {
    font: inherit
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    padding: 2em;
    background: #C1BDBA;
}

form {
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
    background-color: #24333C;
    color: #fff;
    padding: 2em;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
}
.upper {
    display: flex;
    margin-bottom: 2em;
}

.upper a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 1em 2em;
    flex: 1 1 auto;
    text-align: center;
    background: #435359;
}

.upper .sign {
    background: #1AB188;
}

form h2 {
    padding-bottom: 2rem;
    font-size: 2em;
    text-align: center;
    font-weight: normal;
}


.field input {
    display: block;
    width: 100%;
    border: 1px solid #a0b3b0;
    background-color: transparent;
    padding: 0.2em 0.3em;
    line-height: 1;
    outline: none;
    margin-bottom: 1em;
}

.field {
    position: relative;
    padding-bottom: 1em;
}

.field label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.3em 0.5em;
    color: #8B999E;
}

.field input:required ~ label::after{
    display: inline-block;
    content:'*';
    color: #1AB188;
    padding-left: 0.2em;
}

form input[type="submit"] {
    display: block;
    width: 100%;
    background-color: #1AB188;
    color: #fff;
    border: none;
    text-transform: uppercase;
    padding: 1rem 2rem;
    font-size: 2em;

}

.names {
    display: flex;
    gap: 1em;
}

.names .field {
    flex: 1 1 auto;
}

.upper .log:hover {
    background-color: #2D7668;
    color: #fff;
}

.upper .log {
    color: #8B999E
}