@media (width <= 600px) {
    header nav {
        flex-direction: column;
        gap: 20px;
    }

    .header-title {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .our-dogs ul {
        gap: 30px;
    }

    .our-dogs ul > li {
        flex: 0 0 calc(50% - 30px);
    }

    .our-dogs ul li img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    .helpNeed ul {
        flex-direction: column;
    }
}