.item {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    padding: 1em;
}

section {
    border: 2px solid black;
    padding: 2em;
    margin-bottom: 1em;
}

.Relative .item:nth-child(2) {
    background: green;
    position: relative;
    top: 50px;
    left: 100px;
}

.Mixed {
    position: relative;
}

.Mixed .item:nth-child(2) {
    position: absolute;
    background: green;
    top: 140px;
    left: 80px;
}