div {
    width: 300px;
    padding: 20px;
    border: 5px solid #333;
    margin-bottom: 20px;
    background: #eee;
}

.Content-Box {
    box-sizing: content-box;
}

.Border-Box {
    box-sizing: border-box;
}