.family {
    font-family: Arial, sans-serif;
}

.size {
    font-size: 24px;
}

.weight {
    font-weight: bold;
}

.style {
    font-style: italic;
}

.caps {
    font-variant: small-caps;
}

div {
    border: 2px solid black;
    padding: 1em;
}